{% block content %}
	{% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
	{% endif %

<form class="form" method="post" action="hello.html" >
        <input type="text" placeholder="Username" name="username">
        <input type="password" placeholder="Password" name="password">
        <button type="submit"  value="Login" id="login-button">Login</button>
        <button type="button" onclick="window.location.href='/register/' ">Register</button>
        <input type="hidden" name="next" value="/home" />
</form>

{% endblock %}